# Add any directories, files, or patterns you don't want to be tracked by version control

new/target/
old/target/

new/.project
new/.settings/
new/.classpath

old/.project
old/.settings/
old/.classpath

School/webapp/bin/
School/webapp/bin/*



