<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<servlet>
		<servlet-name>Log4jInit</servlet-name>
		<servlet-class>ke.co.qubintel.school.server.servlet.init.Log4jInit</servlet-class>
		<init-param>
			<param-name>log4j-init-file</param-name>
			<param-value>/WEB-INF/classes/log4j.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>PropertiesConfig</servlet-name>
		<servlet-class>ke.co.qubintel.school.server.servlet.util.PropertiesConfig</servlet-class>
		<init-param>
			<param-name>config-file</param-name>
			<param-value>/WEB-INF/classes/config.properties</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>DbPoolUtil</servlet-name>
		<servlet-class>ke.co.qubintel.school.server.servlet.util.DbPoolUtil</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>CacheInit</servlet-name>
		<servlet-class>ke.co.qubintel.school.server.servlet.init.CacheInit</servlet-class>
		<init-param>
			<param-name>ehcache-file</param-name>
			<param-value>/WEB-INF/classes/ehcache.xml</param-value>
		</init-param>
		<load-on-startup>4</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>GetBackupScript</servlet-name>
		<servlet-class>ke.co.qubintel.school.server.quartz.GetBackupScript</servlet-class>
		<load-on-startup>7</load-on-startup>
	</servlet>
	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/webapi</param-value>
	</context-param>
	<servlet>
		<servlet-name>resteasy</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>ke.co.qubintel.school.server.api.APIApplication</param-value>
		</init-param>
		<load-on-startup>5</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>resteasy</servlet-name>
		<url-pattern>/webapi/*</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>ApiOriginFilter</filter-name>
		<filter-class>ke.co.qubintel.school.server.api.ApiOriginFilter</filter-class>
	</filter>
	<servlet>
		<servlet-name>Bootstrap</servlet-name>
		<servlet-class>ke.co.qubintel.school.server.api.Bootstrap</servlet-class>
		<load-on-startup>6</load-on-startup>
	</servlet>
	<filter-mapping>
		<filter-name>ApiOriginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<servlet>
		<servlet-name>QuartzProperties</servlet-name>
		<servlet-class>ke.co.qubintel.school.server.servlet.quartz.factory.QuartzProperties</servlet-class>
		<load-on-startup>7</load-on-startup>
	</servlet>
	
	
	
	<servlet>
		<servlet-name>FeeReceipt</servlet-name>
		<servlet-class>ke.co.qubintel.school.server.servlet.reports.fee.FeeReceipt</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeeReceipt</servlet-name>
		<url-pattern>/school/feeReceipt</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>StudentReportCard</servlet-name>
		<servlet-class>ke.co.qubintel.school.server.servlet.reports.StudentReportCard</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentReportCard</servlet-name>
		<url-pattern>/school/studentReportCard</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ClassRankingList</servlet-name>
		<servlet-class>ke.co.qubintel.school.server.servlet.reports.ClassRankingList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClassRankingList</servlet-name>
		<url-pattern>/school/classRankingList</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetStudents</servlet-name>
		<servlet-class>ke.co.qubintel.school.server.servlet.exam.GetStudents</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetStudents</servlet-name>
		<url-pattern>/school/getStudents</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ExamAjax</servlet-name>
		<servlet-class>ke.co.qubintel.school.server.servlet.exam.ExamAjax</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExamAjax</servlet-name>
		<url-pattern>/school/examAjax</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>StudentAjax</servlet-name>
		<servlet-class>ke.co.qubintel.school.server.servlet.student.StudentAjax</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentAjax</servlet-name>
		<url-pattern>/school/studentAjax</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UploadProfilePic</servlet-name>
		<servlet-class>ke.co.qubintel.school.server.servlet.student.UploadProfilePic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadProfilePic</servlet-name>
		<url-pattern>/school/uploadProfilePic</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ImportStudent</servlet-name>
		<servlet-class>ke.co.qubintel.school.server.servlet.excel.ImportStudent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImportStudent</servlet-name>
		<url-pattern>/school/importStudent</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SchoolLogin</servlet-name>
		<servlet-class>ke.co.qubintel.school.server.school.login.SchoolLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SchoolLogin</servlet-name>
		<url-pattern>/schoolLogin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SchoolLogout</servlet-name>
		<servlet-class>ke.co.qubintel.school.server.school.login.SchoolLogout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SchoolLogout</servlet-name>
		<url-pattern>/schoolLogout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TopBottomImprovedDroppedList</servlet-name>
		<servlet-class>ke.co.qubintel.school.server.servlet.reports.TopBottomImprovedDroppedList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TopBottomImprovedDroppedList</servlet-name>
		<url-pattern>/school/tbidList</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>StudentPerStream</servlet-name>
		<servlet-class>ke.co.qubintel.school.server.servlet.reports.student.StudentPerStream</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentPerStream</servlet-name>
		<url-pattern>/school/studentPerStream</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ExportStudents</servlet-name>
		<servlet-class>ke.co.qubintel.school.server.servlet.exam.ExportStudents</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExportStudents</servlet-name>
		<url-pattern>/school/exportStudents</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>StudentPerStreamExcel</servlet-name>
		<servlet-class>ke.co.qubintel.school.server.servlet.reports.student.StudentPerStreamExcel</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentPerStreamExcel</servlet-name>
		<url-pattern>/school/studentPerStreamExcel</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>StreamAnalysis</servlet-name>
		<servlet-class>ke.co.qubintel.school.server.servlet.reports.StreamAnalysis</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StreamAnalysis</servlet-name>
		<url-pattern>/school/streamAnalysis</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ExportExcel</servlet-name>
		<servlet-class>ke.co.qubintel.school.server.servlet.reports.exam.ExportExcel</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExportExcel</servlet-name>
		<url-pattern>/school/exportExcel</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>TeacherSubjectsAnalysis</servlet-name>
		<servlet-class>ke.co.qubintel.school.server.servlet.reports.exam.TeacherSubjectsAnalysis</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TeacherSubjectsAnalysis</servlet-name>
		<url-pattern>/school/subjectsAnalysis</url-pattern>
	</servlet-mapping>
	
	
	
	
	
	
	<listener>
		<listener-class>ke.co.qubintel.school.server.servlet.quartz.QuartzListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>ke.co.qubintel.school.server.servlet.quartz.factory.ScheduleJOb</listener-class>
	</listener>
	
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>405</error-code>
		<location>/405.jsp</location>
	</error-page>
	
	<session-config>
		<session-timeout>500</session-timeout>
	</session-config>
	
</web-app>