.bg-text {
	color: #000;
}

.bg-blue {
	background-color:#D7E8EF  !important;
	border-color: #D7E8EF !important;
}

.bg-color {
	background-color: #014081 !important;
}

#map {
	width: 100%;
	height: 200px;
	background-color: grey;
}

.whiteme {
	color: white;
}

.themeColor {
	background-color: #2A3F54  !important;
	border-color: #F7F7F7 !important;
	color: #fff;
}

.secondary-assent {
	background-color:#1ABB9C !important;
	color: #fff;
}

.loading {
	background-color: #3A60DB;
	color: white;
}

.error {
	background-color: #a40000 !important;
	color: #fff;
}

.mono {
	background-color:#3B5976 !important;
}

.bg_modal {
	background-color: white;
	color: black;
}

.btn-primary {
	background-color: #3c8dbc;
	border-color: #367fa9;
}

.shadowme:hover {
	box-shadow: 0 4px 8px 0 #008ABB, 0 6px 20px 0 #008ABB !important;
}

.cards {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19) !important;
}

.icon {
	font-size: 70px !important;
}